In [1]:
import pandas as pd
from tkinter import Tk
from tkinter.filedialog import askopenfilename

# Abre un diálogo para seleccionar el archivo CSV
Tk().withdraw()  # Oculta la ventana principal de Tkinter
archivo_csv = askopenfilename(title="Selecciona el archivo CSV", filetypes=[("CSV files", "*.csv")])

# Carga el CSV en un DataFrame
df = pd.read_csv(archivo_csv)
df.head()  # Muestra las primeras filas

C:\Users\anton\AppData\Local\Temp\ipykernel_25808\103596989.py:10: DtypeWarning: Columns (0,1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,573) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(archivo_csv)

,1,1.1,1.2,1.3,1.4,1.5,1.6,1.7,1.8,1.9,...,1.565,1.566,1.567,1.568,1.569,1.570,1.571,1.572,1.573,574
0,Id,Subsegmento,Sexo,Region,Edad,Renta,Antiguedad,Internauta,Adicional,Dualidad,...,PagoNac_T01,PagoInt_T01,EeccNac_T01,EeccInt_T01,UsoL1_T01,UsoL2_T01,UsoLI_T01,IndRev_T01,target,NaN
1,1,160,M,13,43,NaN,130,1,1,0,...,33000,0,1099866,0,1099866,15080,0,R,0,NaN
2,2,160,H,13,46,143640,69,1,0,0,...,300000,0,214592,0,214592,83596,0,R,0,NaN
3,3,170,H,13,45,929106,24,1,1,0,...,216676,0,0,0,7400,0,0,T,0,NaN
4,4,151,H,13,46,172447,134,0,1,0,...,60000,0,272762,0,272762,10591,0,R,0,NaN

# 1. Entendimiento del Negocio
## Contexto
Describe el problema, los campos del dataset, el alcance, objetivo, criterios de éxito y las hipótesis.

- **Problema:** ¿Cuál es el objetivo del análisis/modelo?
- **Campos del dataset:** ¿Qué variables contiene el archivo CSV?
- **Alcance:** ¿Qué se busca lograr?
- **Objetivo:** ¿Qué variable se quiere predecir?
- **Criterios de éxito:** ¿Cómo se medirá el éxito del modelo?
- **Hipótesis:** ¿La variable a predecir es continua (regresión) o categórica (clasificación)?

# 2. Comprensión de los Datos
## Análisis estadístico y visualización
Analiza los tipos de datos, realiza interpretaciones y observa hallazgos relevantes.

- **Numéricos:** Medidas de tendencia central, histograma.
- **Categóricos:** Moda, distribución (gráficos de torta y barras).

In [ ]:
# Análisis estadístico básico
print(df.info())
print(df.describe(include='all'))

# Histograma para variables numéricas
import matplotlib.pyplot as plt
df.hist(figsize=(10,8))
plt.show()

# Gráficos para variables categóricas
categorical_cols = df.select_dtypes(include=['object', 'category']).columns
for col in categorical_cols:
    df[col].value_counts().plot(kind='bar', title=col)
    plt.show()

# 3. Preparación de los Datos
## Tratamiento de NaN, nulos y outliers
Explica cómo se tratan los valores faltantes y los outliers, y justifica las decisiones.

- **Numéricos:** Mediana, KNN imputer.
- **Categóricos:** Moda.
- **Outliers:** Boxplot, mediana.

In [ ]:
# Tratamiento de valores nulos
from sklearn.impute import SimpleImputer

# Numéricos: mediana
num_cols = df.select_dtypes(include=['float64', 'int64']).columns
imputer_num = SimpleImputer(strategy='median')
df[num_cols] = imputer_num.fit_transform(df[num_cols])

# Categóricos: moda
cat_cols = df.select_dtypes(include=['object', 'category']).columns
imputer_cat = SimpleImputer(strategy='most_frequent')
df[cat_cols] = imputer_cat.fit_transform(df[cat_cols])

# Outliers: boxplot
df[num_cols].boxplot(figsize=(10,8))
plt.show()

# 4. Transformación de Datos
## Codificación y escalamiento
Transforma variables categóricas a numéricas y escala los datos.

- **Label Encoding, One Hot Encoding, Binary Encoding**
- **Escalamiento:** MinMaxScaler o StandardScaler

In [ ]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

# Label Encoding para variables categóricas
le = LabelEncoder()
for col in cat_cols:
    df[col] = le.fit_transform(df[col])

# Escalamiento MinMax
scaler = MinMaxScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])

# 5. Análisis de Correlación y Duplicados
## Matriz de correlación y tratamiento de duplicados
Interpreta la matriz de correlación y elimina duplicados si es necesario.

In [ ]:
# Matriz de correlación
import seaborn as sns
corr = df.corr()
plt.figure(figsize=(12,10))
sns.heatmap(corr, annot=True, cmap='coolwarm')
plt.show()

# Eliminación de duplicados
df = df.drop_duplicates()

# 6. Técnicas de Regularización
## Ridge y Lasso
Explica y aplica técnicas de regularización para modelos de regresión.

In [ ]:
from sklearn.linear_model import Ridge, Lasso

# Ejemplo de uso (ajusta X, y según tu variable objetivo)
# ridge = Ridge(alpha=1.0).fit(X_train, y_train)
# lasso = Lasso(alpha=0.1).fit(X_train, y_train)

# 7. Métricas de Evaluación
## ECM/MSE y R^2
Evalúa el desempeño del modelo usando ECM/MSE y R^2.

- **ECM/MSE menor = mejor**
- **R^2 cercano a 1 = mejor**

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

# Ejemplo de evaluación (ajusta y_test, y_pred según tu modelo)
# mse = mean_squared_error(y_test, y_pred)
# r2 = r2_score(y_test, y_pred)
# print('MSE:', mse)
# print('R^2:', r2)